@for(row of rows; track row; let rowIndex = $index) {
  <div class="row">
    @for(letter of answer.split(''); track letter; let letterIndex = $index) {
      <div class="letter-box" [ngClass]="{
      'green': rowResults[rowIndex]?.[letterIndex] === 'g',
      'yellow': rowResults[rowIndex]?.[letterIndex] === 'y',
      'wrong': rowResults[rowIndex]?.[letterIndex] === 'x' }">{{row[letterIndex]}}</div>
    }
  </div>
}

<div class="keyboard">
  @for(keyboardRow of keyboardRows; track keyboardRow) {
    <div class="keyboard-row">
      @for (key of keyboardRow; track key){
        <button (click)="addLetter(key)">{{key}}</button>
      }
    </div>
  }
</div>
